$border-color: #fd696c;
$text-color: #fff;
$background-color: #fd696c;

.primaryIconButton {
  color: $text-color;
  background-color: $background-color;
  border: 1px solid $border-color;

  &:hover {
    background-color: darken($background-color, 5);
  }

  &[aria-disabled='true'] {
    background-color: $background-color;
  }
}
